body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

#tabs {
    margin: 10px;
}

button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #666;
}

#content {
    margin-top: 50px;
}

h1 {
    font-size: 24px;
}

#massTab, #statsTab, #settingsTab {
    margin-top: 20px;
}

#massTab {
    display: block;
}

#statsTab, #settingsTab {
    display: none;
}
